version: "3.1"
services:
  knowage:
    image: knowagelabs/knowage-server-docker:8.0
    depends_on:
      - knowagedb
      - knowagecache
      - hazelcast
    ports:
      - "8080:8080"
    networks:
      - main
    environment:
      - DB_HOST=$DB_HOST
      - DB_PORT=$DB_PORT
      - DB_DB=$DB_DB
      - DB_USER=$DB_USER
      - DB_PASS=$DB_PASS

      - CACHE_DB_HOST=$CACHE_DB_HOST
      - CACHE_DB_PORT=$CACHE_DB_PORT
      - CACHE_DB_DB=$CACHE_DB_DB
      - CACHE_DB_USER=$CACHE_DB_USER
      - CACHE_DB_PASS=$CACHE_DB_PASS

      - HMAC_KEY=$HMAC_KEY
      - PASSWORD_ENCRYPTION_SECRET=$PASSWORD_ENCRYPTION_SECRET
      - PUBLIC_ADDRESS=localhost

      - HAZELCAST_HOSTS=hazelcast
      - HAZELCAST_PORT=5701
    volumes:
      - ./resources:/home/knowage/apache-tomcat/resources

  hazelcast:
    image: hazelcast/hazelcast:3.6.5
    networks:
      - main
    environment:
      - JAVA_OPTS=-Dhazelcast.local.publicAddress=hazelcast -Dhazelcast.config=/opt/hazelcast/hazelcast.xml
    volumes:
      - ./hazelcast-server.xml:/opt/hazelcast/hazelcast.xml

  knowagepython:
    image: knowagelabs/knowage-python-docker:8.0
    environment:
      - HMAC_KEY=$HMAC_KEY
      - KNOWAGE_PUBLIC_ADDRESS=knowage
      - PUBLIC_ADDRESS=localhost
    networks:
      - main

  knowager:
    image: knowagelabs/knowage-r-docker:8.0
    environment:
      - HMAC_KEY=$HMAC_KEY
    networks:
      - main

  knowagedb:
    image: mariadb:10.3
    environment:
      - MYSQL_USER=$DB_USER
      - MYSQL_PASSWORD=$DB_PASS
      - MYSQL_DATABASE=$DB_DB
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
    networks:
      - main
    volumes:
      - "db:/var/lib/mysql"

  knowagecache:
    image: mariadb:10.3
    environment:
      - MYSQL_USER=$CACHE_DB_USER
      - MYSQL_PASSWORD=$CACHE_DB_PASS
      - MYSQL_DATABASE=$CACHE_DB_DB
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
    networks:
      - main
    volumes:
      - "cache:/var/lib/mysql"

volumes:
  db:
  cache:

networks:
  main:
